
.example-container {
  height: 100vh;
  width: 100vw;

}

/* Contenedor del login con imagen de fondo */
.login-container {
  width: 55vw;
  background: url('../../assets/images/servicio_seguridad.png') no-repeat center center fixed;
  background-size: cover;
}

/* Contenedor principal del contenido */
.box-pincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Tarjeta de login */
.box-login {
  width: 30vw;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre los elementos */
}

/* Contenedor del formulario de login */
.login-box {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre los elementos */
}

/* Estilo del título */
.box-login mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo de los campos del formulario */
.box-login mat-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Estilo del botón de login */
.box-login button {
  padding: 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.box-login button:hover {
  background-color: #303f9f;
}

/* Estilo del mensaje de error */
.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* Estilo del enlace para la contraseña olvidada */
.forgot-password {
  text-align: center;
  color: #3f51b5;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}
