


<ng-container *ngIf="isAuthenticated(); else loginTemplate">
    <app-topbar></app-topbar>
    <div class="flex box-main	">
        <div class="flex-none w-2 h-full ">
          <app-sidebar></app-sidebar>
        </div>
        <div class="flex-grow-1 w-10 h-full">
          <router-outlet></router-outlet> <!-- Aquí se cargará el contenido dinámico -->
        </div>
    </div>

    <app-footer></app-footer>
</ng-container>

<ng-template #loginTemplate>
  <router-outlet></router-outlet>
</ng-template>
